.inputname {
    display: flex;
    justify-content: space-between;

    align-items: center;
    gap: 1rem;
}

.inputname>div {
    width: 100%;
}


@media (max-width: 30em) {

    .inputname {
        gap: 0;
        flex-direction: column;
    }
}